<div class="cards-grid">

  <% favorites.each do |favorite| %>

      <%# Si le favori est un MATCH %>
      <% if favorite.class == Match %>
        <div class="cards-grid">
          <% if favorite.wine.photo.attached? %>
            <div class="indexmatchcard card bg-dark"
              style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url('<%= cl_image_path favorite.wine.photo.key %>')">
              <% end %>
              <div class="card-img-overlay">
                <div class="topmatchcard">
                  <% if current_user.favorited?(favorite) %>
                    <i data-action="click->favourite#toggle" data-controller="favourite" data-favourite-target="bookmark"
                      data-favourite-class-value="match" class="fa-solid fa-bookmark fa-xl" id="<%=favorite.id%>"></i>
                    <% else %>
                    <i data-action="click->favourite#toggle" data-controller="favourite" data-favourite-target="bookmark"
                      data-favourite-class-value="match" class="fa-regular fa-bookmark fa-xl" id="<%=favorite.id%>"></i>
                  <% end %>
                  <div class="matchstar">
                    <% favorite.comments.average(:note).to_i.times do %>
                    <i class="fa-solid fa-star fa-2xs"></i>
                    <% end %>
                  </div>
                </div>
                <%= link_to  match_path(favorite), style:"text-decoration:none;color:white;" do %>
                <div class="bottommatchcard">
                  <% if  favorite.wine.quantité != nil  %>
                    <h6> <i class="fa-solid fa-wine-bottle fa-2xs"></i> <%= favorite.wine.quantité %></h6>
                  <% end %>
                  <h6><%= favorite.wine.appellation %></h6>
                  <div> <i class="fa-solid fa-utensils"></i> <%= favorite.dish.nom %></div>
                </div>
                <div class="indexmatch_color_tag">
                  <% if favorite.wine.couleur == "blanc" %>
                  <div class="indexmatch_white_tag">
                    <span class="badge rounded-pill">Blanc</span>
                  </div>
                  <% elsif favorite.wine.couleur == "rouge" %>
                  <div class="indexmatch_red_tag">
                    <span class="badge rounded-pill">Rouge</span>
                  </div>
                  <% else %>
                  <div class="indexmatch_rose_tag">
                    <span class="badge rounded-pill text-dark">Rosé</span>
                  </div>
                  <%end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <%# Si le favori est un VIN %>
      <% if favorite.class == Wine %>
          <% if favorite.photo.attached?%>
            <div class="indexmatchcard card bg-dark"
              style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url('<%= cl_image_path favorite.photo.key %>')">
              <% end %>
              <div class="card-img-overlay">
                  <div class="topmatchcard">
                      <% if current_user.favorited?(favorite) %>
                        <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-solid fa-bookmark fa-xl" id="<%=favorite.id%>"></i>
                      <% else %>
                        <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-regular fa-bookmark fa-xl" id="<%=favorite.id%>"></i>
                      <% end %>
                      <div class="matchstar">
                        <% favorite.comments.average(:note).to_i.times do %>
                        <i class="fa-solid fa-star fa-2xs"></i>
                        <% end %>
                      </div>
                  </div>
                  <%= link_to wine_path(favorite), style:"text-decoration:none;color:white;" do %>
                    <div class="bottommatchcard">
                      <% if  favorite.quantité != nil  %>
                        <h6> <i class="fa-solid fa-wine-bottle fa-2xs"></i> <%= favorite.quantité %></h6>
                        <% end %>
                        <h6><%= favorite.appellation %></h6>
                    </div>
                    <div class="indexwine_color_tag">
                      <% if favorite.couleur == "blanc" %>
                      <div class="indexmatch_white_tag">
                        <span class="badge rounded-pill">Blanc</span>
                      </div>
                      <% elsif favorite.couleur == "rouge" %>
                      <div class="indexmatch_red_tag">
                        <span class="badge rounded-pill">Rouge</span>
                      </div>
                      <% else %>
                      <div class="indexmatch_rose_tag">
                        <span class="badge rounded-pill text-dark">Rosé</span>
                      </div>
                      <%end %>
                    </div>
                  <%end %>
              </div>
          </div>

      <% end %>


  <% end %>
</div>
