<div class="container">
  <div class="review">
    <h2>Laissez une évaluation</h2>

    <% if params[:wine_id] %>
      <%= simple_form_for [@wine, @comment] do |f| %>
        <%= f.input :commentaire %>
        <%= f.input :note, collection: (1..5).to_a, label: "Note", input_html: {data: { controller: "star-rating"}}  %>
         <%= f.submit class: "d-none" %>
      <% end %>
    <% end %>

    <% if params[:dish_id] %>
      <%= simple_form_for [@dish, @comment] do |f| %>
        <%= f.input :commentaire %>
        <%= f.input :note, collection: (1..5).to_a, label: "Note", input_html: {data: { controller: "star-rating"}}  %>
         <%= f.submit class: "d-none" %>
      <% end %>
    <% end %>

     <% if params[:match_id] %>
      <%= simple_form_for [@match, @comment] do |f| %>
        <%= f.input :commentaire %>
        <%= f.input :note, collection: (1..5).to_a, label: "Note", input_html: {data: { controller: "star-rating"}}  %>
         <%= f.submit class: "d-none" %>
      <% end %>
    <% end %>

  </div>
</div>
