<div class="container">

  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="card rounded-4 shadow mb-4 ml-2" >
          <div class="card-body">
            <% if params[:wine_id] %>
              <h1><%= @wine.nom %></h1>
            <% end %>
            <% if params[:dish_id] %>
              <h1><%= @dish.nom %></h1>
            <% end %>
            <% if params[:match_id] %>
              <h2>Accord <%= @match.wine.nom %> / <%= @match.dish.nom %></h2>
            <% end %>

            <div class="card-body">
              <% if @comment.user.photo.attached? %>
                <%= cl_image_tag @comment.user.photo.key, class:"avatar card-comment-user" %>
              <% else %>
                <img class="avatar card-comment-user" src="https://cdn-icons-png.flaticon.com/512/1659/1659503.png" />
              <% end %>
              <p><%= "#{@comment.user.username}" %></p>
              <p><%= @comment.commentaire %></p>
              <p><%#= @comment.note %></p>

              <%# NOTE EN ETOILES  %>
              <% @comment.note.times do %>
                <i class="fa-solid fa-star fa-2xs"></i>
              <% end %>

              <%# END NOTE ETOILES  %>

              <% if params[:wine_id] %>
                  <%= link_to match_comment_path(@wine, @comment), style:"text-decoration:none;color:black;text-align:center;",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-x"></i>
                  <% end %>
                 <%= link_to edit_match_comment_path(@wine, @comment), style:"text-decoration:none;color:black;text-align:center;",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-pen"></i>
                  <% end %>
              <% end %>

              <% if params[:dish_id] %>
                <% if policy(@comment).destroy? %>
                  <%= link_to match_comment_path(@dish, @comment), style:"text-decoration:none;color:black;text-align:center;",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-x"></i>
                  <% end %>
                <% end %>

                <% if policy(@comment).edit? %>
                  <%= link_to edit_match_comment_path(@dish, @comment), style:"text-decoration:none;color:black;text-align:center;",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-pen"></i>
                  <% end %>
                <% end %>
              <% end %>



      </div>
    </div>
  </div>
</div>
