<div class="footer">
  <div class="footer-links">
    <%= link_to  new_match_path, class: "testing" do %>
      <i class="fa-solid fa-champagne-glasses fa-lg"></i>
    <% end %>
    <%= link_to  new_wine_path, class: "cellar" do %>
     <i class="fa-solid fa-wine-bottle fa-lg"></i>
    <%= link_to  new_wine_path, class: "new_wine" do %>
     <i class="fa-solid fa-wine-bottle"></i>
    <% end %>
    <%= link_to  bookmarks_path, class: "favorites" do %>
      <i class="fa-solid fa-bookmark fa-lg"></i>
    <% end %>
    <%= link_to  wines_path, class: "cellar" do %>
      <i class="fa-solid fa-cubes"></i>
    <% end %>
    <%= link_to  root_path, class: "network" do %>
      <i class="fa-solid fa-user-group fa-lg"></i>
    <% end %>
     <%# <%= link_to  root_path, class: "knowledge" do %>
      <%# <img src="https://cdn-icons-png.flaticon.com/512/1945/1945958.png", class="avatar"/> %>
    <%# <% end %>
     <%# <%= link_to  root_path, class: "Quizz" do %>
      <%# <img src="https://cdn-icons-png.flaticon.com/512/2195/2195378.png", class="avatar"/> %>
    <%# <% end %>
  </div>
</div>
