<div class="footer">
  <div class="footer-links">
    <%= link_to  new_match_path, class: "testing" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/1150/1150262.png", class="avatar"/>
    <% end %>
     <%= link_to  root_path, class: "cellar" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/4698/4698421.png", class="avatar"/>
    <% end %>
     <%= link_to  root_path, class: "network" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/648/648324.png", class="avatar"/>
    <% end %>
     <%# <%= link_to  root_path, class: "knowledge" do %>
      <%# <img src="https://cdn-icons-png.flaticon.com/512/1945/1945958.png", class="avatar"/> %>
    <%# <% end %>
     <%# <%= link_to  root_path, class: "Quizz" do %> 
      <%# <img src="https://cdn-icons-png.flaticon.com/512/2195/2195378.png", class="avatar"/> %>
    <%# <% end %>
  </div>
</div>
