<div class="footer">
  <div class="footer-links">
    <%= link_to  root_path, class: "testing" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/1950/1950715.png", class="avatar"/>
    <% end %>
     <%= link_to  root_path, class: "cellar" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/8329/8329038.png", class="avatar"/>
    <% end %>
     <%= link_to  root_path, class: "network" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/648/648324.png", class="avatar"/>
    <% end %>
     <%= link_to  root_path, class: "knowledge" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/1945/1945958.png", class="avatar"/>
    <% end %>
     <%= link_to  root_path, class: "testing" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/1950/1950715.png", class="avatar"/>
    <% end %>
  </div>
</div>
