<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="matches-search">
      <% @matches.first(5).each_with_index do |match, index| %>
        <% if index <= 0 %>
          <div class="match-card">
            <div class="carousel-item active">
              <div class=bookmark-match>
                <% if current_user.favorited?(match) %>
                    <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-solid fa-bookmark" id="<%=match.id%>"></i>
                <% else %>
                    <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-regular fa-bookmark" id="<%=match.id%>"></i>
                <% end %>
              </div>
              <%= link_to  match_path(match), style:"text-decoration:none;color:black;position:relative;" do %>
              <% if match.wine.couleur == "blanc" %>
              <div class="pastille" style="position:absolute;top:50px;left:20px;"><i class="fa-solid fa-wine-bottle" style="color:beige;"></i></div>
              <% elsif match.wine.couleur == "rouge" %>
              <div class="pastille" style="position:absolute;top:50px;left:20px;" ><i class="fa-solid fa-wine-bottle" style="color:purple;"></i></div>
              <% else %>
              <div class="pastille" style="position:absolute;top:50px;left:20px;"><i class="fa-solid fa-wine-bottle" style="color:lightpink;"></i></div>
              <%end %>
                <% if match.wine.photo.attached? %>
                  <%= cl_image_tag match.wine.photo.key, class:"d-block w-75" %>
                <% end %>
                  <div class="descriptif-match-search carousel-caption d-md-block">
                    <h6><%= match.wine.nom %></h6>
                    <h6><%= match.wine.appellation %></h6>
                    <%#=#match.wine.couleur%>
                    <h6> Accord : <%= match.dish.nom %></h6>
                  </div>
                  <div class="note-accord">
                    <% match.comments.average(:note).to_i.times do %>
                          <i class="fa-solid fa-star"></i>
                      <% end %>
                  </div>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="match-card">
            <div class="carousel-item ">
              <div class=bookmark-match>
                <% if current_user.favorited?(match) %>
                    <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-solid fa-bookmark" id="<%=match.id%>"></i>
                <% else %>
                    <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-regular fa-bookmark" id="<%=match.id%>"></i>
                <% end %>
              </div>
              <%= link_to  match_path(match), style:"text-decoration:none;color:black;" do %>
              <% if match.wine.couleur == "blanc" %>
              <div class="pastille" style="position:absolute;top:50px;left:20px;"><i class="fa-solid fa-wine-bottle" style="color:beige;"></i></div>
              <% elsif match.wine.couleur == "rouge" %>
              <div class="pastille" style="position:absolute;top:50px;left:20px;" ><i class="fa-solid fa-wine-bottle" style="color:purple;"></i></div>
              <% else %>
              <div class="pastille" style="position:absolute;top:50px;left:20px;"><i class="fa-solid fa-wine-bottle" style="color:lightpink;"></i></div>
              <%end %>
                <% if match.wine.photo.attached? %>
                  <%= cl_image_tag match.wine.photo.key, class:"d-block w-75" %>
                <% end %>
                <div class="descriptif-match-search carousel-caption d-md-block">
                  <h6><%= match.wine.nom %> <%= match.wine.appellation %> </h6>
                  <h6><%= match.wine.appellation%></h6>
                  <%#=#match.wine.couleur%>
                  <h5> Accord : <%= match.dish.nom %></h5>
                </div>
                  <div class="note-accord">
                  <% match.comments.average(:note).to_i.times do %>
                        <i class="fa-solid fa-star"></i>
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="match-card">
          <div class="carousel-item">
            <img src="https://d2b8wt72ktn9a2.cloudfront.net/mediocre/image/upload/c_pad,f_auto,h_600,q_auto,w_600/kkxy0fp9nlzvo8zwbepx.png" class = "d-block w-75",alt="...">
            <div class="scrapp-search carousel-caption d-md-block">
              <button type="button" class="btn btn-ghost">Propose moi de nouveaux accords !</button>
              <%# link to search with scrapping %>
            </div>
          </div>
        </div>
    </div>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
