<div class="background-index" >
  <div class="container">

    <% if params[:query]%>
      <div class=search-bar>
        <%= form_with url: matches_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Mon plat/Mon vin"
          %>
          <button type="submit" class= "btn btn-no-design">
          <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <% link_to matches_path %>
        <% end %>
      </div>

      <strong><p>Résultats</p></strong>
        <%= render "carousel" %>

    <% else %>

     <h5>Bonjour  <strong><%=current_user.username%></strong> !</h5>
      <h5> Que souhaites-tu accorder aujourd'hui?</h5>

      <div class=search-bar>
        <%= form_with url: matches_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Mon plat/Mon vin"
          %>
          <button type="submit" class= "btn btn-no-design">
          <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        <% end %>
      </div>

      <div class="row mb-6">
        <%=render"matchinfoindex" %>
      </div>

    <% end %>

  </div>
</div>
