


        <div class = "upper-card">
            <% if current_user.favorited?(@match) %>
                <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-solid fa-bookmark fa-2xl" id="<%=@match.id%>"></i>
              <% else %>
                <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-regular fa-bookmark fa-2xl" id="<%=@match.id%>"></i>
            <% end %>
            <% if @match.wine.comments.average(:note).to_i != 0 && @match.wine.comments.average(:note).to_i != nil %>
               <h1>Accord</h1>
              <div class="star">
                <div class="note-vin">
                  <%= @match.wine.comments.average(:note).to_i %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="row mb-6">
          <div class="col-sm-6 bicard" style="position:relative;">
            <% if @match.wine.photo.attached? %>
              <%= cl_image_tag @match.wine.photo.key, height: 500, width: 400, crop: :fit, class:"card-img-top rounded-4" %>
            <% end %>
            <div class="color_tag_show">
              <% if @match.wine.couleur == "blanc" %>
                <div class="white_tag_show" >
                  <span class="badge rounded-pill">Blanc</span>
                </div>
                <% elsif @match.wine.couleur == "rouge" %>
                  <div class="red_tag_show" >
                    <span class="badge rounded-pill">Rouge</span>
                  </div>
                <% else %>
                  <div class="rose_tag_show">
                  <span class="badge rounded-pill text-dark">Rosé</span>
                </div>
              <%end %>
            </div>
          </div>
          <div class="col-sm-6 bicard">
            <div class="infos-wine text-center">
              <h3 class = "nom-vin"><%= @match.wine.nom %></h3>
              <p><%= @match.wine.appellation %> </p>
              <h4> <i class="fa-solid fa-utensils"></i>  <%= @match.dish.nom %></h4>
              <div class="star">
                <% @match.comments.average(:note).to_i.times do %>
                <i class="fa-solid fa-star"></i>
                <% end %>
              </div>
            </div>
          </div>



          <%#= link_to "Noter",  new_match_comment_path(@match), class:"btn btn-ghost" %>
          </div>
        </div>
