<div class="background-index" >
  <div class="container">

  <%#NEW NAVBAR  %>

  <div class="topnav">
    <a class="active" href="/matches">Accords</a>
    <a href="/wines">Vins</a>
    <a href="/bookmarks">Favoris</a>
    <a href="/wines">Découvertes</a>
  </div>

  <%#END NEW NAVBAR  %>



    <% if params[:query]%>
      <div class=search-bar>
        <%= form_with url: matches_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Mon plat/Mon vin"
          %>
          <button type="submit" class= "btn btn-no-design">
          <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <% link_to matches_path %>
        <% end %>
      </div>

      <strong><p>Résultats</p></strong>
        <%= render "carousel" %>

    <% else %>


      <div class=search-bar>
        <%= form_with url: matches_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Mon plat/Mon vin"
          %>
          <button type="submit" class= "btn btn-no-design">
          <i class="fa-solid fa-magnifying-glass  fa-2xl"></i>
          </button>
        <% end %>
      </div>

      <div class="row mb-6">
        <%=render"matchcard" %>
      </div>

    <% end %>

  </div>
</div>

<div class="container">
  <input type="text" placeholder="Mon plat/Mon vin">
  <div class="search"></div>
</div>
