<div class="container" data-controller="find-wine">
  <div class="nouvelaccordform">

<%#NEW NAVBAR  %>

    <div class="topnav">
      <a class="active" href="/matches/new">Dégustation accord</a>
      <a href="/wines/new">Dégustation vin</a>
    </div>

<%#END NEW NAVBAR  %>

    <div class="row justify-content-center">
      <div class="col-18 col-sm-4">
        <div class="card rounded-4 shadow mb-4 ml-2 ">
          <div class="card-body p-6">
            <h2 style="text-align: center"> Ma dégustation </h2>
            <%= simple_form_for [@match] do |f|%>
            <%= f.association :wine do |w| %>
            <div class="winesymb"><i class="fa-solid fa-wine-glass-empty fa-2xl"></i></div>
            <div class="wineform">
              <div class="field">
                <%= w.text_field :nom, :placeholder => "Domaine/Château/Clos...", list: "noms"%>
                <datalist id="noms">
                  <% @noms_vin.each do |nom| %>
                  <option value="<%= nom %>"></option>
                  <% end %>
                </datalist>
              </div>
              <div class="field">
                <%= w.text_field :appellation, :placeholder => "Appellation", list: "appellations"%>
                <datalist id="appellations">
                  <% @appellations.each do |appellation| %>
                  <option value="<%= appellation %>"></option>
                  <% end %>
                </datalist>
              </div>
              <div class="field"><%= w.input :annee %></div>
              <div class="field"><%= w.select :couleur, collection: ["rouge","blanc","rosé"] %></div>
              <%# PARTIE OPTIONNELLE DU FORMULAIRE %>
                <%#= w.input :nom_commercial %>
                <div class="field">
                  <%= w.text_field :nom_commercial, :placeholder => "Autre nom", list: "noms_commercial"%>
                  <datalist id="noms_commercial">
                    <% @noms_commercial.each do |nom| %>
                    <option value="<%= nom %>"></option>
                    <% end %>
                  </datalist>
                </div>
                <%#= w.input :provenance %>
                <div class="field">
                  <%= w.text_field :provenance, :placeholder => "Provenance", list: "provenances"%>
                  <datalist id="provenances">
                    <% @provenances.each do |provenance| %>
                    <option value="<%= provenance %>"></option>
                    <% end %>
                  </datalist>
                </div>
                <%#= w.input :cépage %>
                <div class="field">
                  <%= w.text_field :cépage, :placeholder => "Cépage", list: "cépages"%>
                  <datalist id="cépages">
                    <% @cépages.each do |cépage| %>
                    <option value="<%= cépage %>"></option>
                    <% end %>
                  </datalist>
                </div>
                <div class="field"><%= w.input :quantité, input_html: { type: 'number' } %></div>
            </div>
            <%#= simple_form_for [@match, @comment] do |f|%>
            <%#= f.input :commentaire %>
            <%#= f.input :note  %>
            <%# end %>
            <% end %>
            <div class="dishsymb"><i class="fa-solid fa-utensils fa-2xl"></i></div>
            <div class="dishform">

            <%= f.association :dish do |d| %>
            <div class="field">
              <%= d.text_field :nom, :placeholder => "Nom du plat", list: "noms"%>
              <datalist id="noms">
                <% @noms.each do |nom| %>
                <option value="<%= nom %>"></option>
                <% end %>
              </datalist>
            </div>
            <% end %>
            <%#= f.input :commentaire %>
            <%#= f.input :note, collection: (1..5).to_a, label: "Note", input_html: {data: { controller: "star-rating"}}  %>
            <div class="field"><%= f.submit "Créer un accord", input_html: {class: 'submitfield'} %></div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
