<div class="container">
  <div class="col-sm-6 bicard">
    <div class="card rounded-4 shadow mb-4 ml-2" >
      <div class="card-body">

        <% if current_user.favorited?(@match) %>
          <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-solid fa-bookmark" id="<%=@match.id%>"></i>
        <% else %>
          <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-regular fa-bookmark" id="<%=@match.id%>"></i>
        <% end %>
          <div class="row mb-6">
          <div class="col-sm-6 bicard">
            <% if @match.wine.photo.attached? %>
              <%= cl_image_tag @match.wine.photo.key, height: 500, width: 400, crop: :fill, class:"card-img-top rounded-4" %>
            <% end %>
          </div>
          <div class="col-sm-6 bicard">
            <div class="titre-vin-carte-accord">
              <h3 class = "nom-vin"><%= @match.wine.nom %></h3>
               <div class="note-vin">
                  <%=@match.wine.comments.average(:note).to_i %>
              </div>
            </div>
            <p><%= @match.wine.appellation %> - <%= @match.wine.couleur %> </p>
            <h4> Accord : <%= @match.dish.nom %></h4>
            <div class="star">
              <% @match.comments.average(:note).to_i.times do %>
              <i class="fa-solid fa-star"></i>
              <% end %>
            </div>

          </div>
          <div class="link-match-view">
            <%= link_to "Supprimer",
                match_path(@match),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-ghost"
              %>
            <%= link_to "Noter",  new_match_comment_path(@match), class:"btn btn-ghost" %>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="row pt-4">
        <div class="col-12 col-lg-8">
          <div class="row">
            <% @comments_select = Comment.where(commented_on_type: "Match", commented_on_id: params[:id] ) %>
            <% @comments_select.each do |comment| %>
            <div class="col-sm-6 bicard">
              <div class="card rounded-4 shadow mb-4 ml-2" >
                <div class="card-body">
                  <% if current_user.photo.attached? %>
                    <%= cl_image_tag comment.user.photo.key, class:"avatar card-comment-user" %>
                  <% else %>
                    <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1659/1659503.png" />
                  <% end %>
                  <p><b>Evaluateur: <%= "#{comment.user.username}" %></b></p>
                  <p>Note: <%= comment.note%></p>
                  <p><%= comment.commentaire%></p>
                  <i class="fa-solid fa-x"></i><%= link_to " Effacer",
                    match_comment_path(@match, comment), style:"text-decoration:none;color:black;text-align:center;",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                  <i class="fa-solid fa-pen"></i><%= link_to " Modifier",
                    edit_match_comment_path(@match, comment), style:"text-decoration:none;color:black;text-align:center;",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                </div>
              </div>
            </div>
            <% end %>
          </div >
        </div>
      </div>
    </div>
  </div>
</div>
