<%= render "navbar"%>

<div class="container container-show">
  <div class="back my-2">
    <%= link_to matches_path(query: params[:value]), style:"text-decoration:none;color:black;" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>

  <div class="card-match-show"
       style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url('<%= cl_image_path @match.wine.photo.key %>')">
    <div class="card-match-flex">
      <div class="card-match-show-icons">
        <%# bookmark icon fullfilled or not %>
        <% if current_user.favorited?(@match) %>
          <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-solid fa-bookmark fa-2xl mar" style="color:white" id="<%=@match.id%>"></i>
        <% else %>
          <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="match" class="fa-regular fa-bookmark fa-2xl mar " style="color:white" id="<%=@match.id%>"></i>
        <% end %>
        <%# wine color  %>
        <div class="color_tag_show">
          <% if @match.wine.couleur == "blanc" %>
            <div class="white_tag_show" >
              <span class="badge rounded-pill">Blanc</span>
            </div>
            <% elsif @match.wine.couleur == "rouge" %>
              <div class="red_tag_show" >
                <span class="badge rounded-pill">Rouge</span>
              </div>
            <% else %>
              <div class="rose_tag_show">
              <span class="badge rounded-pill text-dark">Rosé</span>
            </div>
          <%end %>
        </div>
      </div>
      <div class="card-match-text">
        <h1><%= @match.wine.nom %></h1>
        <h4> <%= @match.wine.appellation %> </h4>
        <p> <i class="fa-solid fa-utensils"></i>  <%= @match.dish.nom %></p>
        <%# stars %>
        <div class="star">
          <% @match.comments.average(:note).to_i.times do %>
            <i class="fa-solid fa-star" style="color:white"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

 <div class="boutons-liens-accord">
            <% if @match.user == current_user %>
              <%= link_to match_path(@match), style:"text-decoration:none;color:black;text-align:center;",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-x fa-2xl", style="padding-top:20px; padding-right:20px;"></i>
              <% end %>

              <%= link_to edit_match_path(@match), style:"text-decoration:none;color:black;text-align:center;" do %>
                <i class="fa-solid fa-pen fa-2xl", style="padding-top:20px; padding-right:20px;"></i>
              <% end %>
            <% end %>

            <%= link_to new_match_comment_path(@match), style:"text-decoration:none;color:black;text-align:center;" do %>
              <i class="fa-regular fa-comment fa-2xl", style="padding-top:20px; padding-right:20px;"></i>
            <% end %>
          </div>


  <div class="card-match-show-comments">
    <% @comments_select = Comment.where(commented_on_type: "Match", commented_on_id: params[:id] ) %>
    <% @comments_select.each do |comment| %>
      <div class="card-match-show-comment">
        <div>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag comment.user.photo.key, class:"avatar card-comment-user" %>
          <% else %>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1659/1659503.png" />
          <% end %>
        </div>
        <div>
          <div class="d-flex">
            <p><b><%= "#{comment.user.username}" %></b></p>
              <% comment.note.times do %>
                <i class="fa-solid fa-star fa-2l", style="color:#A4133C"></i>
              <% end %>
          </div>
          <p class="comment-content">"<%= comment.commentaire%>"</p>

          <% if comment.user == current_user %>
            <%= link_to match_comment_path(@match, comment), style:"text-decoration:none;color:black;text-align:center;",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-x fa-lg"></i>
            <% end %>
            <%= link_to edit_match_comment_path(@match, comment), style:"text-decoration:none;color:black;text-align:center;" do %>
              <i class="fa-solid fa-pen fa-lg"></i>
            <% end %>
          <% end %>


        </div>
      </div>
    <% end %>
</div>
