<div class="background-index">
  <div class="container">

    <h5> Les vins </h5>
    <%# <div class= "images-search">
      <img src="https://cdn-icons-png.flaticon.com/512/1046/1046772.png" alt="plat" height="50px" >
      <img src="https://cdn-icons-png.flaticon.com/512/763/763031.png" alt="plat" height="50px" style="margin-left: 45px" >
    </div> %>

    <div class=search-bar>
      <%= form_with url: wines_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Rechercher un vin"
        %>
        <%#= submit_tag "Trouver", class: "btn btn-ghost"%>

        <button type="submit" class= "btn btn-no-design">
        <i class="fa-solid fa-magnifying-glass"></i>
        </button>

      <% end %>
    </div>

    <div class="wines">
      <a class="btn btn-gradient rounded-circle" href="#"></a>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="row">
            <% if params[:query] %>
              <strong><p>Vins</p></strong>
              <% @wines.each do |wine| %>

                <div class="col-sm-6 bicard">
                  <% if current_user.favorited?(wine) %>
                    <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="wine" class="fa-solid fa-bookmark" id="<%=wine.id%>"></i>
                  <% else %>
                    <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="wine" class="fa-regular fa-bookmark" id="<%=wine.id%>"></i>
                  <% end %>
                  <%= link_to  wine_path(wine), style:"text-decoration:none;color:black;" do %>
                    <div class="card rounded-4 shadow mb-4 ml-2" >
                    <% if wine.photo.attached? %>
                    <%= cl_image_tag wine.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top rounded-4" %>
                    <% end %>
                    <div class="card-body  text-center">
                      <p></p>
                      <% if @dish.nil? %>
                        <% @dish = "" %>
                      <% else %>
                        <% @match = Match.where(wine: wine, dish: @dish).first %>
                      <% end %>
                      <% if @match != nil %>
                        <div class="infos-index text-center">
                          <div class="text-center mb-3">
                            <%= link_to "Voir l'accord",  match_path(@match), class:"btn btn-ghost" %>
                          </div>
                      <% end %>
                          <h4 class="card-title"><%= wine.nom%></h4>
                          <h5 class="card-title"><%= wine.appellation%></h5>
                          <h6 class="card-title">Couleur : <%= wine.couleur%></h6>
                          <h6><%= wine.annee %></h6>
                        </div>
                        <div class="star">
                          <div class="note">
                            <% wine.comments.average(:note).to_i.times do %>
                            <i class="fa-solid fa-star"></i>
                            <% end %>
                          </div>
                        </div>

                      <strong><p class="text-center"> Plat </p></strong>
                      <% if @dishes != nil %>
                        <% @dishes.uniq.each do |dish| %>
                          <p><%= dish.nom %></p>
                        <% end %>
                      <% end %>
                      <p></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

    <% else %>
    
    <div class="container">
        <div class="wines">
          <a class="btn btn-gradient rounded-circle" href="#"></a>
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="row">
                <% @wines.each do |wine| %>
                  <div class="col-sm-6 bicard">
                    <% if current_user.favorited?(wine) %>
                      <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="wine" class="fa-solid fa-bookmark" id="<%=wine.id%>"></i>
                    <% else %>
                      <i data-action="click->favourite#toggle"  data-controller="favourite" data-favourite-target="bookmark" data-favourite-class-value="wine" class="fa-regular fa-bookmark" id="<%=wine.id%>"></i>
                    <% end %>
                  <%= link_to  wine_path(wine), style:"text-decoration:none;color:black;" do %>
                      <div class="card rounded-4 shadow mb-4 ml-2" >
                          <% if wine.photo.attached? %>
                            <%= cl_image_tag wine.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top rounded-4" %>
                          <% end %>
                        <div class="card-body text-center">
                          <div class="infos-index text-center">
                              <h4 class="card-title"><%= wine.nom%></h4>
                              <h4 class="card-title"><%= wine.appellation%></h4>
                              <h6 class="card-title">Couleur : <%= wine.couleur%></h6>
                              <h6><%= wine.annee %></h6>
                              <% if wine.quantité != nil %>
                              <p>Quantité : <%= wine.quantité %></p>
                              <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
      <% end %>
    </div>

</div>
