

<p></p>
<%= form_with url: wines_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Enter a dish to find a wine"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<p></p>



<% if params[:query] %>
  <strong><p>Le vin</p></strong>

  <% @wines.each do |wine| %>

    <% if wine.photo.attached? %>
    <%= cl_image_tag wine.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top rounded-4" %>
    <% end %>
    <%= wine.nom %>
    <%= wine.appellation %>
    <%= wine.couleur %>
    <%= wine.annee %>
    <% end %>


<p> </p>


<strong><p>Le plat associé</p></strong>
<% unless @dishes.nil? %>
  <% @dishes.each do |dish| %>
    <%= dish.nom %>
  <% end %>

<% end %>


<% else %>

  <% @wines.each do |wine| %>
    <p><%= wine.nom %></p>
  <% end %>

<% end %>
