

<p></p>
<%= form_with url: wines_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Enter a dish to find a wine"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<p></p>



<div class="container">
    <div class="wines">
      <a class="btn btn-gradient rounded-circle" href="#"></a>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="row">

          <% if params[:query] %>
            <strong><p>Le vin</p></strong>

            <% @wines.each do |wine| %>
              <div class="col-sm-6 bicard">
                <%= link_to  wine_path(wine), style:"text-decoration:none;color:black;" do %>
                  <div class="card rounded-4 shadow mb-4 ml-2" >
              <% if wine.photo.attached? %>
              <%= cl_image_tag wine.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top rounded-4" %>
              <% end %>
              <div class="card-body">
                <h4 class="card-title"><%= wine.nom%></h4>
                <h5 class="card-title"><%= wine.appellation%></h5>
                <h6 class="card-title"><%= wine.couleur%></h6>
                <h6><%= wine.annee %></h6>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>



<strong><p>Le plat associé</p></strong>
<% unless @dishes.nil? %>
  <% @dishes.each do |dish| %>
    <%= dish.nom %>
  <% end %>

<% end %>


<% else %>

<div class="container">
    <div class="bikes">
      <a class="btn btn-gradient rounded-circle" href="#"></a>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="row">
            <% @wines.each do |wine| %>
              <div class="col-sm-6 bicard">
                <%= link_to  wine_path(wine), style:"text-decoration:none;color:black;" do %>
                  <div class="card rounded-4 shadow mb-4 ml-2" >
                      <% if wine.photo.attached? %>
                        <%= cl_image_tag wine.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top rounded-4" %>
                      <% end %>
                    <div class="card-body">
                        <h4 class="card-title"><%= wine.nom%></h4>
                        <h5 class="card-title"><%= wine.appellation%></h5>
                        <h6 class="card-title"><%= wine.couleur%></h6>
                        <h6><%= wine.annee %></h6>

                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

<% end %>
