<div class="container d-flex justify-content-center">
  <div class="col-lg-6 col-12">

    <div class="card rounded-4 border-0 shadow mb-4 ml-2 p-4">

    <h1 class="mb-4 text-center" >Ajouter un vin</h1>
      <%= simple_form_for(@wine) do |f| %>
        <%= f.select :couleur, ["rouge","blanc","rosé"] %>
        <%= f.input :nom, label: false, placeholder: "Nom" %>
        <%= f.input :appellation, label: false, placeholder: "Appellation" %>
        <%= f.input :annee, label: false, placeholder: "Année" %>
        <%= f.input :quantité, input_html: { type: 'number' }, label: false, placeholder: "Quantité" %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Ajouter à la cave", class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>
