<div class="background-index">
  <div class="container">
    <div class="container-card align-items-center">
      <div class="row pt-4">
        <div class="col-sm-3 align-self-center">
          <div class="card rounded-4 shadow mb-4 ml-2 align-self-center">
            <div class="wine">
              <% if current_user.favorited?(@wine) %>
              <div class="wine-bookmark">
                <i data-action="click->favourite#toggle" data-controller="favourite" data-favourite-target="bookmark"
                  data-favourite-class-value="wine" class="fa-solid fa-bookmark" id="<%=@wine.id%>"></i>
              </div>
              <% else %>
              <div class="wine-bookmark">
                <i data-action="click->favourite#toggle" data-controller="favourite" data-favourite-target="bookmark"
                  data-favourite-class-value="wine" class="fa-regular fa-bookmark" id="<%=@wine.id%>"></i>
              </div>
              <% end %>
              <% if @wine.photo.attached? %>
              <%= cl_image_tag @wine.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top rounded-4" %>
              <% end %>
            </div>
            <div class="col-sm-12 mt-4 text-center bicard">
              <h4><%= @wine.nom%></h4>
              <h6><%= @wine.appellation%></h5>
              <h6><%= @wine.annee %></h6>
              <% if @wine.quantité != 0 %>
                <h6>Quantité : <%= @wine.quantité %></h6>
              <% end %>
              <div class="star">
                <div class="note">
                  <%= @wine.comments.average(:note).to_i %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="boutons-liens-vin">
      <%= link_to "Supprimer",
          wine_path(@wine), style:"text-decoration:none;color:grey",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
      <%= link_to "Modifier",
        edit_wine_path(@wine), style:"text-decoration:none;color:grey;"
          %>
    </div>

    <div class="boutons-view-vin">
      <%= link_to "Noter",  new_wine_comment_path(@wine), class:"btn btn-ghost" %>
      <%= link_to "Voir les vins",  wines_path, class:"btn btn-ghost" %>
    </div>


    <div class="comments">
      <div class="row pt-4">
        <div class="col-12 col-lg-8">
          <div class="row">
            <% @comments_select = Comment.where(commented_on_type: "Wine", commented_on_id: params[:id] ) %>
            <% @comments_select.each do |comment| %>
            <div class="col-sm-6 bicard">
              <div class="card rounded-4 shadow mb-4 ml-2">
                <div class="card-body">
                  <% if current_user.photo.attached? %>
                  <%= cl_image_tag comment.user.photo.key, class:"avatar card-comment-user" %>
                  <% else %>
                  <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1659/1659503.png" />
                  <% end %>
                  <%#  <div class="card-header", style="background-color: #BC8F8F"></div>%>
                  <p><b>Evaluateur: <%= "#{comment.user.username}" %></b></p>
                  <p>Note: <%= comment.note%></p>
                  <p><%= comment.commentaire%></p>
                  <i class="fa-solid fa-x"></i><%= link_to " Effacer",
                    match_comment_path(@wine, comment), style:"text-decoration:none;color:black;text-align:center;",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                  <i class="fa-solid fa-pen"></i><%= link_to " Modifier",
                    edit_match_comment_path(@wine, comment), style:"text-decoration:none;color:black;text-align:center;",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
