<div class="background-index">
  <div class="container">
    <div class="container-card align-items-center">
      <div class="row pt-4">
        <div class="col-sm-3 align-self-center">
          <div class="card rounded-4 shadow mb-4 ml-2 align-self-center overflow-hidden">
            <div class="wine position-relative">
              <div class="position-absolute top-0 end-0">
                <% if @wine.couleur == "blanc" %>
                <div class="indexmatch_white_tag mx-3 my-4">
                  <span class="badge rounded-pill">Blanc</span>
                </div>
                <% elsif @wine.couleur == "rouge" %>
                <div class="indexmatch_red_tag mx-3 my-4">
                  <span class="badge rounded-pill">Rouge</span>
                </div>
                <% else %>
                <div class="indexmatch_rose_tag mx-3 my-4">
                  <span class="badge rounded-pill text-dark">Rosé</span>
                </div>
                <%end %>
              </div>
              <% if current_user.favorited?(@wine) %>
              <div class="wine-bookmark">
                <i data-action="click->favourite#toggle" data-controller="favourite" data-favourite-target="bookmark"
                  data-favourite-class-value="wine" class="fa-solid fa-bookmark fa-xl" id="<%=@wine.id%>"></i>
              </div>
              <% else %>
              <div class="wine-bookmark">
                <i data-action="click->favourite#toggle" data-controller="favourite" data-favourite-target="bookmark"
                  data-favourite-class-value="wine" class="fa-regular fa-bookmark fa-xl" style="color:white;height:60px;width:60px" id="<%=@wine.id%>"></i>
              </div>
              <% end %>
              <% if @wine.photo.attached? %>
              <%= cl_image_tag @wine.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
              <% end %>
            </div>
            <div class="col-sm-12 mt-4 text-center bicard">
              <h4><%= @wine.nom%></h4>
              <h6><%= @wine.appellation%></h5>
              <h6><%= @wine.annee %></h6>
              <% if @wine.quantité != 0 && @wine.quantité != nil %>
                  <h6> <i class="fa-solid fa-wine-bottle fa-2xs"></i> <%= @wine.quantité %></h6>
              <% end %>

              <% if @wine.comments.average(:note).to_i.times do %>
                      <i class="fa-solid fa-star fa-2l"></i>
                <% end %>
              <% end %>




              <div>
                <%= simple_form_for(@wine) do |f| %>
                  <%= f.input :quantité, label: false, input_html: { type: 'number' } , style:"text-align:center;"%>
                <%= f.submit "Ajuster mon stock", class:"btn btn-ghost"%>
                <% end %>
                <p></p>
                <div class="boutons-liens-vin">
                  <%# if @wine.user == current_user %>
                    <i class="fa-solid fa-x"></i><%= link_to " Supprimer",
                      wine_path(@wine), style:"text-decoration:none;color:black;text-align:center;",
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                    %>
                    <i class="fa-solid fa-pen"></i><%= link_to " Modifier",
                      edit_wine_path(@wine), style:"text-decoration:none;color:black;text-align:center;"
                    %>
                  <%# end %>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="boutons-view-vin">
      <%= link_to "Noter",  new_wine_comment_path(@wine), class:"btn btn-show-wine" %>
      <%= link_to "Retour aux vins",  wines_path, class:"btn btn-show-wine" %>
    </div>


    <div class="comments">
      <div class="row pt-4">
        <div class="col-12 col-lg-8">
          <div class="row">
            <% @comments_select = Comment.where(commented_on_type: "Wine", commented_on_id: params[:id] ) %>
            <% @comments_select.each do |comment| %>
            <div class="col-sm-6 bicard">
              <div class="card rounded-4 shadow mb-4 ml-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <% if current_user.photo.attached? %>
                      <%= cl_image_tag comment.user.photo.key, class:"avatar card-comment-user" %>
                      <% else %>
                      <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1659/1659503.png" />
                      <% end %>
                    </div>
                    <%#  <div class="card-header", style="background-color: #BC8F8F"></div>%>

                    <div class="col-10"><p><b><%= "#{comment.user.username}" %></b>


                    <%# <p><%#= @comment.note %><%#</p> %>

                    <%# NOTE EN ETOILES  %>
                    <% comment.note.times do %>
                      <i class="fa-solid fa-star fa-2l", style="color:#A4133C"></i>
                    <% end %>

                    <%# END NOTE ETOILES  %>
                    </p>
                    <div style="color:grey"></div><p>"<i><%= comment.commentaire%>"</p></i></div>
                    </div>


                  <% if comment.user == current_user %>
                    <%= link_to match_comment_path(@wine, comment), style:"text-decoration:none;color:black;text-align:center;",
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                      <i class="fa-solid fa-x fa-lg"></i>
                    <% end %>
                    <%= link_to edit_match_comment_path(@wine, comment), style:"text-decoration:none;color:black;text-align:center;" do %>
                      <i class="fa-solid fa-pen fa-lg"></i>
                    <% end %>
                  <% end %>

                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= link_to "return"  %>
